<%= form_for(event, html: {multipart: true}) do |f| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :start_time %>
    <%= f.time_select :start_time %>
  </div>

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>

  <div class="field">
    <%= f.label :main_image %>
    <%= f.file_field :main_image %>
  </div>

  <div class="field">
    <%= f.label :cover_image %>
    <%= f.file_field :cover_image %>
  </div>

  <div class="field">
    <%= f.label :date_to_list_event %>
    <%= f.datetime_select :date_to_list_event %>
  </div>

  <div class="field">
    <%= f.label :short_description %>
    <%= f.text_area :short_description %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
