<div class="hero-unit hero-2">
  <div class="container hero-content">
        <h1>Contact Us</h1>
        <h2>Answers to all your CRISIS related questions</h2>
  </div>
</div>



    
<div class="container faqs">
<h3>Some common answers for you first...</h3>
  <div class="row">
    

      <div class="col-sm-3">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-ticket fa-5x" aria-hidden="true"></i>
                <p class="lead faq">I can't find my ticket</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">No problem. You can get your tickets resent <a class="links" href="https://company.ticketscript.com/uk/ticket-buyers/">here</a>.If this doesn't work, please email ticketscript on <a class="links"href="mailto:support@ticketscript.co.uk">support@ticketscript.co.uk</a></div>

            </div>
          </div>   
        </div>
      </div>
        
      <div class="col-sm-3">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-frown-o fa-5x" aria-hidden="true"></i>
                <p class="lead faq">I've lost my stuff and/or dignity</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">Sorry to hear that. You need to head to our <%= link_to 'lost-property', lostproperty_url, :class => "links"  %> page. Self respect is unlikely to be found.</div>

            </div>
          </div>   
        </div>
      </div>

      <div class="col-sm-3">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-id-card-o fa-5x" aria-hidden="true"></i>
                <p class="lead faq">I have lost my ID but am planning on coming. Will you let me in?</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">It happens. Sadly we can't help. It is entirely at the discretion of which security member you get on the night. Be nice, tell the truth and you are usually fine.</div>
            </div>
          </div>   
        </div>
      </div>
      <div class="col-sm-3">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-users fa-5x" aria-hidden="true"></i>
                <p class="lead faq">My squad is not from Notts Uni</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">We can't all be perfect. Not to worry, we accept any University student card. We also allow non-students when accompanied by a UoN carded student.</div>
            </div>
          </div>   
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-3 spacer">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-ticket fa-5x" aria-hidden="true"></i>
                <p class="lead faq">Ive bought a ticket from someone else. Will it work?</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">No guarantees. Any tickets bought through resellers is done at the purchasers own risk.</div>
            </div>
          </div>   
        </div>
      </div>

      <div class="col-sm-3 spacer">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-clock-o fa-5x" aria-hidden="true"></i>
                <p class="lead faq">My team is playing miles away. Can we extend our ticket times?</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">Not usually, but sometimes exceptions can be made. Give us a shout by emailing <a class="links" href="mailto:info@carpenoctum.co.uk">info@carpenoctum.co.uk</a> and we see what we can do.</div>
            </div>
          </div>   
        </div>
      </div>

      <div class="col-sm-3 spacer">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-money fa-5x" aria-hidden="true"></i>
                <p class="lead faq">Can I pay on the door?</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">Yes - Every week. You can keep up to date on our paying queue length on our snapchat (wearecrisis) or <a class="links" href="https://www.twitter.com/ilove_crisis">twitter</a> feed.</div>
            </div>
          </div>   
        </div>
      </div>

      <div class="col-sm-3 spacer">
        <div class="flip">
          <div class="qcard"> 
            <div class="face front"> 
              <div class="well well-sm inner">
                <i class="fa fa-credit-card fa-5x" aria-hidden="true"></i>
                <p class="lead faq">Do you take card?</p>
              </div>
            </div> 
            <div class="face back"> 
              <div class="well well-sm inner">Yes. Both on entry and at the bars. There is also a cash machine inside if you are feeling old school.</div>
            </div>
          </div>   
        </div>
      </div>



    </div>
  </div>
</div>



<div class="light-grey-band">
  <div class="container">
    <div class="row contact-section">
      <div class="col-md-6">
        <h3>Venue Address</h3>
        
        <address>
          Rock City<br>
          8, Talbot St,<br>
          Nottingham<br>
          NG1 5GG<br>
        </address>
        
        <p>Directions</p>



        <p>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x" aria-hidden="true"></i>
          <i class="fa fa-phone fa-stack-1x"></i>
        </span> 0330 332 0611 <small class="text-muted">This number has <strong>no access</strong> to lost property</small>
        </p>

        <p>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
        </span> 07969 955 639 <small class="text-muted">Call or text 9am - 5pm only</small>
        </p>

        <p>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
        </span> info@carpenoctum.co.uk <small class="text-muted">General Enquiries</small>
        </p>
        
        <p>
        <span class="fa-stack fa-lg">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-question fa-stack-1x" aria-hidden="true"></i>
        </span> <%= link_to 'Lost your shit?', lostproperty_url, :class => "links" %>
        </p>

        <h3>Our Office in Lenton</h3>
        
        <address>
          Carpe Noctum<br>
          Unit T-9, Lenton Business Centre,<br>
          Lenton Boulevard,<br>
          Nottingham<br>
          NG7 2BY<br>
        </address>

    </div>


    <div class="col-md-6">
      <form>
        <div class="form-group">
          <label for="name">Your Name</label>
          <input type="name" class="form-control" id="name" aria-describedby="nameHelp" placeholder="Enter name">
        </div>

        <div class="form-group">
          <label for="email">Email address</label>
          <input type="email" class="form-control" id="email" aria-describedby="emailHelp" placeholder="Enter email">
          <small id="emailHelp" class="form-text text-muted">We never share your email with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="tel">Mobile Number</label>
          <input type="tel" class="form-control" id="tel" aria-describedby="telHelp" placeholder="Enter your mobile number">
          <small id="telHelp" class="form-text text-muted">We never share your mobile with anyone else.</small>
        </div>

        <div class="form-group">
          <label for="message">Your Message</label>
          <textarea class="form-control" id="message" rows="3" placeholder="Enter your message. Please do not use for lost property."></textarea>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
        
      </form>
      
      </div>
    </div>
  </div>
</div>
<div id="map">
  
</div>
<div class="container spacer">
<h2>The Team</h2>
  <div class="row spacer">
      <div class="col-md-4 text-center profile">
      <%= image_tag("alex.jpg", :alt => "Alex Ottridge", :class => "rounded-circle") %>
        
          <p class="lead">Alex Ottridge</p>
          <p>Events Coordinator</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07703 777 545</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:alex.ottridge@carpenoctum.co.uk">alex.ottridge@carpenoctum.co.uk</a></p>
      </div>

      <div class="col-md-4 text-center profile">
        <%= image_tag("lucy.jpg", :alt => "Lucy Bristow", :class => "rounded-circle") %>
          <p class="lead">Lucy Bristow</p>
          <p>Social Media Manager</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07875 654 896</p>
          <p><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:lucy.bristow@carpenoctum.co.uk">lucy.bristow@carpenoctum.co.uk</a></p>
      </div>

      <div class="col-md-4 text-center profile">
        <%= image_tag("nicola.jpg", :alt => "Nicola Barker", :class => "rounded-circle") %>
          <p class="lead">Nicola Barker</p>
          <p>Marketing and Office Manager</p>
          <p>
          <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-mobile fa-stack-1x" aria-hidden="true"></i>
          </span> 07969 955 639</p>
          <p><span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope-o fa-stack-1x" aria-hidden="true"></i>
          </span> <a class="links" href="mailto:nicola.barker@carpenoctum.co.uk">nicola.barker@carpenoctum.co.uk</a></p>            
      </div>
  </div>
</div>
<div class="light-grey-band">
  <div class="container">
    <p>Alex is our Events Coordinator and is the best person to harrass regarding guestlist enquiries and socials. Lucy is our social media queen bee and Nicola runs the show at our office in Lenton.</p>
  </div>
</div>



<script type="text/javascript">
  function initMap() {
          var crisis = {lat: 52.956056, lng: -1.154179};
          var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: crisis,
            scrollwheel:  false
          });
          var marker = new google.maps.Marker({
            position: crisis,
            map: map
          });
        }
</script>

<script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB3XDYnurNyQcl1fhyiZNN1RwZN8r3FPm8&callback=initMap">
    </script>