<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Date:</strong>
  <%= @post.date %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <strong>Newsimage:</strong>
  <%= @post.newsImage %>
  <%= image_tag(@post.newsImage_url) if @post.newsImage.present? %>
</p>


